body, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}


.header{
    align-items: center;
    background-color: #e7e7e7;
    box-sizing: border-box;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 25px ;
}

.navbar{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar li:hover{
    background-color: rgba(#c714140a);
    display: block;
    
    
}

.navbar li a{
    display: block;
    padding: 1.5rem;
}

.navbar li a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
}


